.news-card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    z-index: 1;
}

.card {
    width: 100%;
    max-width: 303px;
    border-radius: 1rem;
    background-color: #EFEFEF;
    box-shadow: 6px 9px 7px 0px #7070706c;
    border: 1px solid transparent;
    margin: 1rem;
    overflow: hidden;

}

.card a {
    text-decoration: none;
}

.content {
    padding: 0.6rem;
    text-align: center;
}

.image {
    object-fit: cover;
    border-radius: 1rem;

    width: 100%;

    height: auto;

}

.image-card {
    width: 100%;

    height: auto;

    object-fit: cover;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.desk {
    text-transform: uppercase;
    background-color: #EFEFEF;
    background-color: #EFEFEF;
    padding: 1rem;
    border-radius: 1rem;
}

.find-more {
    padding: 1rem;
}

/* Estilos responsivos */

@media (min-width: 1417px) and (max-width: 1802px) {
    .news-card {
        width: 200vh;
    }

    .card {
        flex: 1 1 calc(25% - 2rem);
    }
}

@media (max-width: 1024px) {
    .news-card {
        width: 195vh;
    }

    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}

@media (max-width: 425px) {
    .card {
        flex: 1 1 35%;
    }
}

@media (max-width: 320px) {
    .card {
        flex: 1 1 30%;
    }
}

@media (min-width: 1200px) {
    .news-card {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 116rem;
    }

    .card {
        flex: 1 1 calc(33% - 2rem);
    }

    .destaques {
        width: 65%;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .news-card {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 1 calc(50% - 2rem);
    }

    .destaques {
        width: 54rem;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .news-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex: 1 1 100%;
        max-width: 30%;
    }

    .destaques {
        width: 40rem;
        margin: 0;
    }
}


@media (max-width: 480px) {
    .news-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex: 1 1 100%;
        max-width: 30%;
    }

    .destaques {
        width: 80%;
        padding: 0.5rem;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .news-card {
        flex-direction: column;
        align-items: center;
        width: 120vh;
    }

    .card {
        flex: 1 1 100%;
        max-width: 30%;
    }

    .destaques {
        width: 80%;
        padding: 0.5rem;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .news-card {
        flex-direction: column;
        align-items: center;
        width: 61vh;
    }

    .card {
        flex: 1 1 100%;
        max-width: 30%;
    }

    .destaques {
        width: 80%;
        padding: 0.5rem;
        margin: 0;
    }

    h2 {
        font-size: 10px;
    }
}