<div class="destaques">
  <h2 class="desk">Destaques</h2>
</div>
<div class="news-card">
  <div class="card" *ngFor="let highlight of highlights">
    <div class="image">
      <img class="image-card" [src]="highlight.imageUrl" alt="">
    </div>
    <div class="content">
      <a [href]="highlight.link">
        <span class="title">
          {{ highlight.title }}
        </span>
      </a>
      <p class="desc">
        {{ highlight.description }}
      </p>
      <a class="action" [href]="highlight.link">
        <p class="find-more">Find out more</p>
        <span aria-hidden="true">
          →
        </span>
      </a>
    </div>
  </div>
</div>
