.images{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    align-items: stretch;
}



.logo{
    background-image: url(../../../../assets/img/logo.png);
    background-size: cover;
    width: 21rem;
    height: 17rem;
    max-width:200px;
    max-height:150px;
}

.logo-prefeitura{
    background-image: url(../../../../assets/img/logo-prefeitura-governo.png);
    background-size: cover;
    width: 27rem;
    max-height: 147px;
    
}
