<div class="news-card">
    <div class="card">
        <div class="image">
            <img class="image" src="https://via.placeholder.com/200x150?" alt="">
        </div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit 
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           </p>
       
           <a class="action" href="#">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
       <div class="card">
        <div class="image">
            <img class="image" src="https://via.placeholder.com/200x150?" alt="">
        </div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit 
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           </p>
       
           <a class="action" href="#">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
       <div class="card">
        <div class="image">
            <img class="image" src="https://via.placeholder.com/200x150?" alt="">
        </div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit 
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           </p>
       
           <a class="action" href="#">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
       <div class="card">
        <div class="image">
            <img class="image" src="https://via.placeholder.com/200x150?" alt="">
        </div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit 
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           </p>
       
           <a class="action" href="#">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
</div>
