.footer{
    height: 24rem;
    color: var(--White);
    background-color: var(--Black);
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
    z-index: 1;
    position: sticky;
}

.images-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 195vh;
    margin: 2rem;
}

.logo-ods-claro{
    background-image: url("../../../../assets/img/logo.png");
    background-size: cover;
    width: 12.5rem;
    height: 6.5rem;
}

.logo-prefeitura-claro{
    background-image: url("../../../../assets/img/logo-prefeitura-claro.png");
    background-size: cover;
    width: 246px;
    height: 84px;
}

.list-footer{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    left: 18rem;
    gap: 14rem;

}

.footer-contact{
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    margin: 0.8rem;
}

.footer-contact-01{
    font-size: 20px;
}

/* Media Queries */
@media (min-width: 425px) and (max-width: 1023px) {
    .images-footer {
        width: 179vh; 
        flex-direction: column; 
        margin: 1rem auto;
    }

    .logo-ods-claro {
        width: 16%; 
        height: 8rem; 
    }

    .logo-prefeitura-claro{
        width: 39%; 
        height: 8rem; 
    }
}

@media (min-width: 424px) {
    .images-footer {
        width: 67vh;
        flex-direction: column;
        margin: 0.5rem auto;
    }

    .logo-ods-claro {
        width: 44%;
        height: 8rem;
    }

    .logo-prefeitura-claro{
        width: 104%;
        height: 8rem;
    }

    .footer-contact {
        font-size: 1rem; 
        margin: 0.4rem;
    }
}

@media (min-width: 375px) {
    .images-footer {
        width: 55vh;
        flex-direction: column;
        margin: 0.1rem auto;
    }

    .logo-ods-claro {
        width: 53%;
        height: 8rem;
    }

    .logo-prefeitura-claro{
        width: 111%;
        height: 8rem;
    }

    .footer-contact {
        font-size: 1rem; 
        margin: 0.4rem;
    }
}

@media (min-width: 320px) {

    .footer{
        height: 7rem;
    }
    .images-footer {
        width: 55vh;
        flex-direction: column;
        margin: 0.1rem auto;
    }

    .logo-ods-claro {
        width: 0%;
        height: 0rem;
    }

    .logo-prefeitura-claro{
        width: 0%;
        height: 0rem;
    }

    .footer-contact {
        font-size: 1rem; 
        margin: 0.4rem;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 2900px){
    .footer{
        height: 24rem;
        color: var(--White);
        background-color: var(--Black);
        margin: 2rem 0 0 0;
        padding: 2rem 0 0 0;
        z-index: 1;
        position: sticky;
    }
    
    .images-footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: row;
        width: 195vh;
        margin: 2rem;
    }
    
    .logo-ods-claro{
        background-image: url("../../../../assets/img/logo.png");
        background-size: cover;
        width: 12.5rem;
        height: 6.5rem;
    }
    
    .logo-prefeitura-claro{
        background-image: url("../../../../assets/img/logo-prefeitura-claro.png");
        background-size: cover;
        width: 246px;
        height: 84px;
    }
    
    .list-footer{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        position: absolute;
        left: 18rem;
        gap: 14rem;
    }
    
    .footer-contact{
        text-decoration: none;
        list-style-type: none;
        font-size: 2rem;
        margin: 0.8rem;
    }

}