<div class="footer">
    <div class="images-footer">
        <div class="logo-ods-claro"></div>
        <div class="logo-prefeitura-claro"></div>
    </div>
    <ul class="list-footer">
        <li class="footer-contact">
            <p>Endereço: </p> 
            <p class="footer-contact-01">Viaduto do Chá, 15 -</p>
            <p class="footer-contact-01">Centro Histórico de São Paulo,</p>
            <p class="footer-contact-01">São Paulo - SP, 01007-040</p>
        </li>
        <li class="footer-contact"> 
            <p>Email:</p>
            <p class="footer-contact-01">sp.ods&#64;prefeitura.sp.gov.br</p>
        </li>
        <li class="footer-contact">Copyleft &copy;</li>
    </ul>
</div>