.footer{
    height: 25rem;
    color: var(--White);
    background-color: var(--Black);
    margin: 0;
    padding: 0;
    z-index: 1;
    position: sticky;
}

.images-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 195vh;
    margin: 2rem;
}

.logo-ods-claro{
    background-image: url("../../../../assets/img/logo.png");
    background-size: cover;
    width: 21.5rem;
    height: 17.5rem;
}

.logo-prefeitura-claro{
    background-image: url("../../../../assets/img/logo-prefeitura-claro.png");
    background-size: cover;
    width: 25.3rem;
    height: 8.6rem;
}

.list-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-contact{
    text-decoration: none;
    list-style-type: none;
    font-size: 2rem;
    margin: 0.8rem;
}