.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    padding: 0.7em 1.8em;
    border-radius: 50px;
    width: 169px;
    height: 169px;
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 50px;
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    width: 12rem;
    text-align: center;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.tooltip-container:hover .tooltip {
    top: -40%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.text {
    margin: 1rem;
}

.text-paragrafo {
    text-align: center;
}

.text-indicador {
    text-transform: uppercase;
    text-align: center;
}



/* indicator style  */

.so-widget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.so-widget-estrategia-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.so-widget-estrategia {
    width: 86%;
}

.grid-estrategia {
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 20px;
    justify-content: center;
}

.modal-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 2rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.scroll-top-button {
    position: fixed;
    bottom: 30px;
    right: 65px;
    background-color: #151515;
    color: white;
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 42px;
    cursor: pointer;
    transition: opacity 2s ease-in-out;
    opacity: 0.7;
    z-index: 100000;
}

.scroll-top-button:hover {
    opacity: 1;
    z-index: 10000;
}

/* Media Queries */
@media (min-width: 1802px) {
    .tooltip-container {
        width: 200px;
        height: 200px;
        font-size: 18px;
    }

    .tooltip {
        width: 14rem;
    }

    .grid-estrategia {
        grid-template-columns: repeat(6, auto);
    }
}

@media (min-width: 1417px) and (max-width: 1801px) {
    .tooltip-container {
        width: 190px;
        height: 190px;
        font-size: 17px;
    }

    .tooltip {
        width: 13rem;
    }

    .grid-estrategia {
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 1024px) {
    .tooltip-container {
        width: 170px;
        height: 170px;
        font-size: 16px;
    }

    .tooltip {
        width: 12rem;
    }

    .grid-estrategia {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 768px) {
    .tooltip-container {
        width: 150px;
        height: 150px;
        font-size: 15px;
    }

    .tooltip {
        width: 10rem;
    }

    .grid-estrategia {
        grid-template-columns: repeat(3, auto);
    }

    .scroll-top-button {
        right: 20px;
        width: 4rem;
        height: 4rem;
        font-size: 36px;
        z-index: 1;
    }
}

@media (max-width: 425px) {
    .tooltip-container {
        width: 130px;
        height: 130px;
        font-size: 14px;
    }

    .tooltip {
        width: 9rem;
    }

    .grid-estrategia {
        grid-template-columns: repeat(2, auto);
    }

    .scroll-top-button {
        right: 21rem;
        width: 4rem;
        height: 4rem;
        font-size: 30px;
        z-index: 1;
    }
}

@media (max-width: 320px) {
    .tooltip-container {
        width: 120px;
        height: 120px;
        font-size: 13px;
    }

    .tooltip {
        width: 8rem;
    }

    .grid-estrategia {
        grid-template-columns: 1fr;
    }

    .scroll-top-button {
        right: 11rem;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 28px;
        z-index: 1;
    }
}