<ng-container *ngFor="let cardData of dados; let i = index">
  <div *ngIf="shouldDisplayCard(cardData)" class="card-indicators-row">
    <p-card [id]="cardData.nm_indicador + 1" 
            [style]="{border: '3px solid ' + getColor(cardData.nm_indicador),
            borderRadius: '4rem',
            backgroundColor: getColor(cardData.nm_indicador) +'0a'}">
      <div class="card--header" [ngStyle]="{'background-color': getColor(cardData.nm_indicador)}">
        <div class="header-indicador-card">
          <div class="img-card-row">
            <img 
            [id]="'img-' + i"
            [src]="getImagePath(cardData.nm_indicador)" alt="{{ cardData.name_indicador }}">
          </div>
          <div class="txt-card-row">
            <h2> Indicador {{ cardData.nm_indicador }}</h2>
            <h3>{{ cardData.name_indicador }}</h3>
          </div>
        </div>
      </div>
      <div class="card--main">
        <div class="card-graphic">
          <div class="card-graphic-row">
            <app-grafic-indicators 
              [dados]="dados" 
              [indicadorId]="cardData.nm_indicador" 
              [selecaoOpcao]="selecaoOpcao"
              [corIndicador]="getColor(cardData.nm_indicador)">
            </app-grafic-indicators>
          </div>
        </div>
        <div class="card--aside">
          <div class="descricao-card">
            <h5 class="title-card">Descrição:</h5>
            <p class="paragraph-card">{{ cardData.nm_completo_indicador }}</p>
          </div>
          <div>
            <h5 class="title-card">Conceitos e definições</h5>
            <p class="paragraph-card">{{ cardData.dc_conceito_indicador }}</p>
          </div>
          <div>
            <h5 class="title-card">Fórmula de cálculo (em texto)</h5>
            <p class="paragraph-card">{{ cardData.dc_formula_indicador }}</p>
          </div>
          <div>
            <h5 class="title-card">Fonte</h5>
            <p class="paragraph-card">{{ cardData.tx_fonte_indicador }}</p>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</ng-container>
