<div class="about--row">
    <div class="about">
        <h2>sobre a comissão ods</h2>
        <button class="btn-download" (click)="downloadPdf('assets/pdf/agenda_municipal_2030.pdf')">
            <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 -960 960 960" width="3rem" fill="#FFFFFF">
                <path
                    d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
        </button>
    </div>

    <div class="about-img-txt">
        <div class="about-img">
            <img class="pont-img" src="assets/img/ponte.jpg" alt="">
            <div class="img-txt">
                <a href="https://capital.sp.gov.br/web/meio_ambiente/w/participacao_social/conselhos_e_orgaos_colegiados/237119" target="_blank">
                    <p class="img-paragraph">Saiba mais sobre a Comissão Municipal para o Desenvolvimento Sustentável
                    </p>
                </a>
            </div>
        </div>
        <div class="about--txt">
            <div class="about-txt">
                <p>O Brasil tem papel fundamental a desempenhar na promoção da Agenda Pós-2015, a chamada Agenda 2030, que
                    reúne os 17 Objetivos de Desenvolvimento Sustentável (ODS). Eles correspondem ao conjunto de programas,
                    ações e diretrizes que orientarão os trabalhos das Nações Unidas e de seus países membros rumo ao
                    desenvolvimento sustentável. Conheça mais sobre a Agenda 2030.
                </p>
            </div>
            <div class="about-txt">
                <p>Para que isso ocorra com melhor participação da comunidade, foi criada a Comissão Municipal ODS. Esse
                    órgão colegiado foi criado para internalizar, difundir e dar transparência ao processo de
                    implementação
                    da Agenda 2030 para o Desenvolvimento Sustentável da Organização das Nações Unidas (ONU), subscrita
                    pelo
                    Brasil. Esta instância colegiada terá natureza consultiva, orientada para a articulação, mobilização
                    e
                    diálogo com a estrutura integral do governo municipal, a iniciativa privada e a sociedade civil.
                </p>
            </div>
    
            <div class="about-txt">
                <p>Clicando no botão ao lado, você encontra mais informações e documentos sobre o processo de seleção
                    pública para composição da Comissão Municipal de ODS, a construção da Agenda Municipal 2030, as
                    normativas que a fundamentam, o cronograma de trabalho e as publicações resultantes desse processo.
                </p>
            </div>
        </div>
    </div>