<div class="about--row">
    <div class="about">
        <h2>Sobre a Comissão ODS</h2>
        <button class="btn-download" (click)="downloadPdf('assets/pdf/agenda_municipal_2030.pdf')">
            <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 -960 960 960" width="3rem" fill="#FFFFFF">
                <path
                    d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
        </button>
    </div>

    <div class="about-img-txt">
        <div class="about-img">
            <img class="pont-img" src="assets/img/ponte.jpg" alt="">
            <div class="img-txt">
                <a href="https://capital.sp.gov.br/web/meio_ambiente/w/participacao_social/conselhos_e_orgaos_colegiados/237119" target="_blank">
                    <p class="img-paragraph">Para saber mais acesse a <b><a href="https://capital.sp.gov.br/web/meio_ambiente/w/menu/221455">página da Comissão </a></b> da Comissão na Secretaria Municipal do Verde e Meio Ambiente para Legislação, cronograma, ata das reuniões, publicações e informações sobre processo seletivo.  
                    </p>
                </a>
            </div>
        </div>
        <div class="about--txt">
            <div class="about-txt">
                <p>A comissão ODS é uma instância colegiada paritária de natureza consultiva e deliberativa, de composição intersecretarial, criada pela  Lei Municipal nº 16.817 para a efetivação do Programa Municipal de Implementação da Agenda 2030 para o Desenvolvimento Sustentável da Organização das Nações Unidas.  
                </p>
            </div>
            <div class="about-txt">
                <p>Regulamentada pelo Decreto Municipal 59.020/2019 e alterado ​ pelo Decreto Municipal 61.066/2021, apresenta a ​ seguinte estrutura de funcionamento: 
                </p>
                <div class="img-about-txt">
                    <img class="img-about" src="../../../assets/img/sobreComissao.png" alt="">
                </div>
            </div>
    </div>
</div>
<div class="about-row-txt">
    <div class="about-txt1">
        <div class="box-about1">
            <h2>Composição </h2>
        </div>
        <p>A comissão é integrada por um representante titular e  um representante titular e um suplente de cada um dos seguintes órgãos: 
        </p>
        <ol type="a">
            <li class="compose">Secretaria Municipal de Relações Internacionais; </li>
            <li class="compose">Secretaria Executiva de Planejamento e Entregas Prioritárias da Secretaria do Governo Municipal;</li>
            <li class="compose">Secretaria Municipal de Educação;</li>
            <li class="compose">Secretaria Municipal da Saúde; </li>
            <li class="compose">Secretaria Municipal de Assistência e Desenvolvimento Social; </li>
            <li class="compose">Secretaria Municipal de Urbanismo e Licenciamento; </li>
            <li class="compose">Secretaria Municipal de Desenvolvimento Econômico, Trabalho e Turismo; </li>
            <li class="compose">Secretaria Municipal do Verde e do Meio Ambiente; </li>
        </ol>
        <p>
            E, paritariamente, por 8 titulares e 8 suplentes escolhidos através de seleção pública entre entidades da sociedade: 
        </p>
        <ul>
            <li class="compose00">4 organizações do segmento sociedade civil; </li>
            <li class="compose00">2 da iniciativa privada;  </li>
            <li class="compose00">2 organizações da comunidade científica.</li>  
        </ul>
    </div>
    <div class="about-txt2">
        <div class="box-about2">
            <h2>Competências:</h2>
        </div>
        <ul>
            <li class="compose01">Elaborar a Agenda Municipal 2030;​ </li>
            <li class="compose01">Elaborar, no primeiro ano de cada gestão municipal, o Plano de Ação para Implementação da Agenda Municipal 2030 para o período de 4 anos;​ </li>
            <li class="compose01">Dar seguimento ao desenvolvimento da Agenda 2030 e preparar relatórios periódicos;</li>
            <li class="compose01">Suportes para debates sobre o tema em fórums nacionais e internacionais;​ </li>
            <li class="compose01">Identificar, sistematizar e difundir boas práticas e iniciativas;​ </li>
            <li class="compose01">Promover a articulação com os órgãos e entidades públicas governamentais, as organizações da sociedade civil e a comunidade científica para a difusão e implementação da Agenda 2030 a nível municipal;</li>
            <li class="compose01">Integrar as iniciativas da Agenda 2030 com outras impulsionadas a nível federal, estatal e de outros municípios;​ </li>
            <li class="compose01">Promover, sempre que possível, a integração entre iniciativas, programas e projetos.​ </li>
        </ul>
        <p>O trabalho inicial da Comissão foi a localização da redação das 169 metas globais em 135 metas para o município, bem como a seleção de indicadores relacionados para seu monitoramento.</p>
        <p>Trabalho de construção envolveu mais de 120 membros, 90 reuniões e mais de 200 horas de discussão. A consulta pública recebeu mais de 9000 contribuições.</p>
    </div>
</div>