<div class="agenda--row">
    <div class="agenda-2030-row">
        <div class="title-agenda-01">
            <h2> Conheça a Agenda 2030 e os Objetivos do Desenvolvimento Sustentável </h2>
        </div>

        <div class="txt-contex">
            <p class="agenda-2030-txt">
                A Agenda 2030 é uma agenda programática de desenvolvimento pactuada, em 2015, pelos 193 países membros da Organização das Nações Unidas (ONU), dentre eles o Brasil.
            </p>
            <p class="agenda-2030-txt">
                A Agenda define 17 Objetivos do Desenvolvimento Sustentável e 169 metas para promoção do desenvolvimento sustentável para o planeta, as pessoas, com paz e prosperidade. É uma bússola para que todos os países, governos, empresas, organizações públicas e privadas trabalhem em parceria para garantir melhores condições de vida e proteger o futuro do planeta.
            </p>

            <div class="img-txt-contex-0">
                <img class="img-txt-contex-00" src="../../../assets/img/EsferasODS.png" alt="">
                <p class="agenda-2030-txt-contex">
                    O Município de São Paulo aderiu voluntariamente ao compromisso em 2 de fevereiro de 2018, por meio da <b>Lei Municipal nº 16.817</b>, de iniciativa do Legislativo, que adotou a Agenda 2030 como diretriz das políticas públicas em âmbito municipal. Tal compromisso foi reforçado com a assinatura de Memorando de Entendimento juntamente à ONU, em novembro de 2018.  
                </p>
            </div>


            <div class="img-txt-contex-001">
                <img class="img-txt-contex-01" src="../../../assets/img/Historico.png" alt="">
            </div>

            <p class="agenda-2030-txt">
                Dentre demais providências, a Lei Municipal prevê a instalação da <b> Comissão Municipal para o Desenvolvimento Sustentável (Comissão Municipal ODS)</b>, instância colegiada paritária de natureza consultiva e deliberativa, de composição intersecretarial, para a efetivação do Programa Municipal de Implementação da Agenda 2030 para o Desenvolvimento Sustentável da Organização das Nações Unidas.
            </p>
            <p class="agenda-2030-txt">
                Esta publicação, intitulada Agenda Municipal 2030, reúne o conjunto de objetivos, metas e indicadores para o Município de São Paulo propostos pela Comissão Municipal ODS. 
            </p>

            <div class="img-txt-contex-002">
                <div class="agenda-2030-txt-contex-02">
                    <p class="txt-2030"><i>Veja como navegar no documento: </i></p>
                </div>
                <img class="img-txt-contex-02" src="../../../assets/img/Documento.png" alt="">
            </div>
        </div>

        <div class="pdf-reander-1">
            <div class="title-pdf">
                <h2 class="title-agenda-2"> Agenda 2030 </h2>
            </div>
            <div class="pdf-reander-01">
                <div id="outerContainer">
                    <iframe id="iframe-00" src="../../../assets/pdf/agenda_municipal_2030.pdf#zoom=75" frameborder="0" 
                    style="width: 80rem; height: 55.9rem;" ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="diagram">
        <div class="window">
            <div class="title--txt">
                <div class="title-window">
                <h3>Implementando a agenda</h3>
            </div>
                <div class="txt-window">
                    <p class="window-txt-001">Nos termos do <b>Decreto nº 60.166 de 2021</b>, o “Plano de Ação para Implementação da Agenda Municipal 2030” deve ser proposto pela Comissão Municipal ODS no primeiro ano de cada gestão municipal, para o período dos quatro anos subsequentes, e deverá ser concluído em até 180 dias após a publicação do Programa de Metas.</p>
                </div>
            </div>
            <div class="chart--1">
                <img class="chart" src="../../../assets/img/fluxograma.png" alt="">
            </div>
        </div>
        <div class="txt-02">
            <p class="window-txt">Seu conteúdo mínimo deve abarcar estratégias, instrumentos, ações e programas para a efetivação da Agenda 2030 para o Desenvolvimento Sustentável da Organização das Nações Unidas no município de São Paulo.</p>
            <p class="window-txt">Para o quadriênio 2021-2024, foi proposta a elaboração do Plano de Ação para Implementação da Agenda Municipal 2030 em alinhamento com os compromissos do Programa de Metas 2021-2024 e com o planejamento orçamentário do Plano Plurianual 2022-2025. Para isso, cada Câmara Temática da Comissão Municipal ODS se dedicou à análise do impacto que as ações previstas em ambos os instrumentos têm sobre as suas respectivas metas da Agenda Municipal 2030, e, também, ao levantamento de outras ações complementares previstas em planejamentos setoriais, detalhando estas ações no chamado “Formulário das Ações” por meta da Agenda Municipal 2030.</p>
        </div>
    </div>
    

    <div class="plano-acao-row">
        <div class="elaboracao">
            <h2>Elaboração do plano de ação</h2>
        </div>
        <div class="pdf-reander-2">
            <div class="pdf">
                <iframe src="../../../assets/pdf/plano-acao-agenda2030-final.pdf#zoom=75" frameborder="0"
                style="width: 80rem; height: 55.9rem;"></iframe>
            </div>

            <button (click)="scrollToTop()" class="scroll-top-button" *ngIf="showScrollTop">
                <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>
        <div class="conteudo-02">
            <div class="title-agenda-1">
                <h2> Monitorando a Agenda 2030 e sua implementação </h2>
            </div>
    
            <div class="txt-03">
                <p class="plano-acao-txt">
                    Os 17 Objetivos do Desenvolvimento Sustentável é feito por meio de <b>indicadores</b> que podem ser acompanhados aqui neste site do Observatório ODS.
                </p>
                <p class="plano-acao-txt">
                    A execução do Plano de Implementação é monitorada através dos <b>marcos de atingimento</b> das ações, entenda:
                </p>
    
                <img class="img-txt-contex-03" src="../../../assets/img/Estrutura.png" alt="">
            </div>
    
            <div class="iframe-00">
                <p class="plano-acao-txt">
                    O monitoramento do Plano de Implementação é publicado anualmente na página da Secretaria Executiva de Planejamento e Entregas Prioritárias e também pode ser visto abaixo:
                </p>
                <iframe class="iframe-0" allowfullscreen="true" frameborder="0" height="400" src="https://app.powerbi.com/view?r=eyJrIjoiYThhN2Q0YWItN2M1MS00OWY0LWFhODItOTViNWYzOTNlMDQyIiwidCI6ImI5YjgwMjQ2LWYzMzgtNGRlZi04YzQ2LWY1MDhiZjY3YzU1ZSJ9#zoom=50" title="Painel de Monitoramento - Agenda2030" width="700"></iframe> 
            </div>

            <div class="txt-04">
                <div class="title-agenda-1">
                    <h2> A Agenda 2030 e o planejamento municipal </h2>
                </div>
                <div>
                    <p class="plano-acao-txt">
                        Como instrumento de longo prazo abrangente, a Agenda 2030 integra e norteia todos os instrumentos de planejamento municipal, como o Programa de Metas, o Plano Plurianual e os Planos quadrienais de Implementação.
                    </p>
                    <p class="plano-acao-txt">
                        O resultado será uma cidade de São Paulo mais sustentável, com maior qualidade de vida, educação, saúde, menores índices de pobreza e desigualdade social e adaptada à mudança do clima. 
                    </p>
                    <p class="plano-acao-txt">
                        Veja no diagrama abaixo como as temporalidades e trajetórias de cada instrumento de planejamento se relaciona com a Agenda: 
                    </p>

                    <div>
                        <img class="img-txt-contex-04" src="../../../assets/img/Trajetoria.png" alt="">
                    </div>
                </div>
            </div>
        </div> 
    </div>