<div class="navegacao">
    <div class="menu">
        <div class="list">
            <ul class="nav--list">
                <li *ngIf="navigationService.isNotHome()" class="list-contente">
                    <h6 class="animation-hover">
                        <a [routerLink]="''">
                        Voltar ao início</a>
                    </h6>
                </li>
                
                <li class="list-contente">
                    <h6 class="animation-hover">
                        <a [routerLink]="'/agenda-2030'">Agenda 2030</a>
                    </h6>
                </li>
                <li class="list-contente">
                    <h6 class="animation-hover">
                        <a [routerLink]="'/destaque'">Destaques</a>
                    </h6>
                </li>
                <li class="list-contente">
                    <h6 class="animation-hover">
                        <a [routerLink]="'/sobre-a-ods'">comissão ods</a>
                    </h6>
                </li>
            </ul>
        </div>
    </div>
</div>