.menu{
  background-color: rgba(240, 248, 255, 0);
}
a{
  color: #000;
  text-decoration: none;
  margin-right: 1rem;
}

svg{
  width: 1px;
}

.menu-toggle {
  display: none;
}

.contente {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.list-contente {
  list-style-type: none;
  padding: 0.7rem 2rem 0.7rem 0;
}

#horizontal-line {
  width: 9rem;
  border: 1px solid var(--Black);
}

.list {
  background-color: #bdbdbd93;
  box-shadow: -4px 2px 20px 6px rgba(208, 208, 208, 0.766);
  position: fixed;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  width: 15rem; 
  height: 100%; 
  top: 0;
  right: 0; 
  overflow: hidden;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  top: 20rem;
  padding: 0.9rem;
  font-size: 2rem;
}

.stick{
  position: fixed;
  top: 0;
  /* right: 0; */
}

.animation-hover{
  font-size: 1.2rem;
}
