.news-card {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}

.txt--destaque{
  padding: 1rem;
}

.highlights--txt{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.display-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-highlights {
  background-color: #3f3f3f;
  color: var(--White);
  gap: 1rem;
  margin: 1.5rem;
  width: 100%;
  max-width: 85rem;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}

/* Para telas grandes */
@media (min-width: 1200px) {
  .title-highlights {
    width: 64%;
  }
}

/* Para telas médias */
@media (max-width: 1199px) {
  .title-highlights {
    width: 54rem;
    margin: 0;
  }
}

/* Para telas pequenas */
@media (max-width: 768px) {
  .title-highlights {
    width: 40rem;
    margin: 0;
  }
}

/* Para telas muito pequenas */
@media (max-width: 480px) {
  .title-highlights {
    width: 80%;
    padding: 0.5rem;
    margin: 0;
  }
  h2 {
    font-size: 1rem;
  }
}

.search-highlights {
  border: 1px solid #3f3f3f;
  margin: 1.5rem;
  width: 100%;
  max-width: 85rem;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__button {
  border: none;
  background-color: #ffffff;
  margin-top: 0.1em;
  width: 4rem;
  height: 4rem;
}

.search__button:hover {
  cursor: pointer;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.ppage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0.1rem 0.5rem 0 0;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
  }
  


.btn-nextpage{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid;
    border-radius: 10rem;
}

.btn-previuspage{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid;
    border-radius: 10rem;
}

.btn-previuspage:disabled {
    visibility: hidden;
}

.btn-nextpage:hover {
    background-color:  #8f8e8e6c;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.btn-previuspage:hover {
    background-color:  #8f8e8e6c;
    transition: all 0.5s ease-in;
    z-index: 1;
}
